<h3>Planning ... </h3>

<div class="card" style="width: 18rem;">
  <div class="card-header">
    Jour
  </div>
  <ul class="list-group list-group-flush">
    <li *ngFor="let routine of dayRoutines"
    class="list-group-item">{{ routine.name }}</li>
  </ul>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-header">
    Semaine
  </div>
  <ul class="list-group list-group-flush">
    <li *ngFor="let routine of hebdoRoutines"
    class="list-group-item">{{ routine.name }}</li>
  </ul>
</div>