<div class="shadow-lg p-3 mb-5 bg-white rounded">
    <p class="badge badge-warning"
    *ngIf="messageAlert!=''"> {{ messageAlert }}</p>
    <div class="row">
        <div class="col-sm-12">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="name">
                                Titre
                            </label>
                            <input type="text" id="name" name="name" class="form-control" [ngModel]="name" required>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="ordre">
                                Ordre
                            </label>
                            <input type="text" id="ordre" name="ordre" class="form-control" [ngModel]="ordre" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="frequence">
                                Fréquence
                            </label>
                            <select id="frequence" 
                                    name="frequence" 
                                    class="form-control" 
                                    [ngModel]="frequence" 
                                    (change)=changeFrequence($event.target.value)
                                    required>
                                <option value="Quotidienne" >Quotidienne</option>
                                <option value="Hebdomadaire">Hebdomadaire</option>
                                <option value="Mensuelle">Mensuelle</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div *ngIf="isChampsJoursemaineVisible===true"
                            class="form-group">
                            <label for="jour">
                                Jour dans semaine
                            </label>
                            <select id="jour" name="jour" class="form-control" [ngModel]="jour">
                                <option value="1">Lundi</option>
                                <option value="2">Mardi</option>
                                <option value="3">Mercredi</option>
                                <option value="4">Jeudi</option>
                                <option value="5">Vendredi</option>
                                <option value="6">Samedi</option>
                                <option value="7">Dimanche</option>
                            </select>
                        </div>
                        <div *ngIf="isChampsJoursMoisVisible===true"
                            class="form-group">
                            <label for="jour">
                                Jour du mois
                            </label>
                            <input type="text" id="jour" name="jour" class="form-control" [ngModel]="jour" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <button *ngIf="isNewTask==true"
                        class="btn btn-primary  mb-5 " type="submit" [disabled]="f.invalid">Creer</button>
                        <button *ngIf="isNewTask==false"
                        class="btn btn-primary  mb-5 " type="submit" [disabled]="f.invalid">Modifier</button>
                    </div>
                    <div class="col-sm-3">
                    <button class="btn btn-primary mb-5 feather feather-circle  " type="submit" (click)="onBack()">Retour</button>
                   </div>
                </div>
            </form>
        </div>
    </div>
</div>