<div class="row">
    <div class="col-md-6">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Mail</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users let c = index">
                    <td>{{ user.id }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <i-feather name="edit" style="color: green;"></i-feather>
                    </td>
                    <td>
                        <i-feather (click)="onDeleteUser(user)" name="trash-2" style="color: red;"></i-feather>
                    </td>
                </tr>
            </tbody>
        </table>
        <a routerLink="/new-user">Nouvel utilisateur</a>
        <button class="btn btn-primary"  (click)="onCreateUser()" >Nouvel utilisateur</button>
    </div>
    <div class="col-md-6">
    </div>
</div>