<div class="jumbotron">
  <h5>Liste des routines</h5>
  <div class="row">
    <div class="col-md-3 offset-md-9">
    <i-feather name="save" style="color: green;" (click)="onSaveRoutines()"></i-feather>
  </div>
  </div>
 
</div>
<div class="row">
  <div class="col-md-6 mb-5">
    <input class="form-control" 
            type="text" 
            name="search" 
            [(ngModel)]="searchText" 
            autocomplete="off"
            placeholder="Rechercher par fréquence"/>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th>Nom</th>
          <th>Fréquence</th>
          <th>Jour</th>
          <th>Ordre</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let routine of routines | routineFilter:searchText">
          <td>{{ routine.id }}</td>
          <td>{{ routine.name }}</td>
          <td>{{ routine.frequence }}</td>
          <td *ngIf= "routine.jour === 0" class="text-align:center;"> - </td>
          <td *ngIf= "routine.frequence === 'Mensuelle'" > {{ routine.jour }} </td>
          <td *ngIf= "routine.frequence === 'Hebdomadaire' && routine.jour === 1">Lundi</td>
          <td *ngIf= "routine.frequence === 'Hebdomadaire' && routine.jour === 2">Mardi</td>
          <td *ngIf= "routine.frequence === 'Hebdomadaire' && routine.jour === 3">Mercredi</td>
          <td *ngIf= "routine.frequence === 'Hebdomadaire' && routine.jour === 4">Jeudi</td>
          <td *ngIf= "routine.frequence === 'Hebdomadaire' && routine.jour === 5">Vendredi</td>
          <td *ngIf= "routine.frequence === 'Hebdomadaire' && routine.jour === 6">Samedi</td>
          <td *ngIf= "routine.frequence === 'Hebdomadaire' && routine.jour === 7">Dimanche</td>
          <td>{{ routine.ordre }}</td>
          <td>
            <i-feather name="edit" style="color: green;" (click)="onModifyRoutine(routine)"></i-feather>
          </td>
          <td>
            <i-feather name="trash-2" style="color: red;" (click)="onDeleteRoutine(routine)"></i-feather>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary" (click)="onNewRoutine()">Nouvelle routine</button>
  </div>
</div>