<div class="jumbotron">
  <h5>Liste des routines</h5>
</div>

<div class="row">
    <div class="col-md-6">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th>Nom</th>
                <th>Fréquence</th>
                <th>Jour</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let routine of routines let c = index">
                  <td>{{ routine.id }}</td>
                  <td>{{ routine.name }}</td>
                  <td>{{ routine.frequence }}</td>
                  <td>{{ routine.jour }}</td>
                  <td><i-feather name="edit" style="color: green;" (click)="onModifyRoutine(routine)"></i-feather></td>
                  <td><i-feather name="trash-2" style="color: red;" (click)="onDeleteRoutine(routine)"></i-feather></td>
                </tr>
            </tbody>

        </table>
        <button class="btn btn-primary" (click)="onNewRoutine()">Nouvelle routine</button>
    </div>
    <div class="col-md-6">
      <div class="card" >
        <div class="card-header">
          Creation / Modification
        </div>
        <app-routine-form></app-routine-form>
      </div>
        </div>  
</div>